* {
    margin: 0px;
    padding: 0px;
    
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
}



.headercontainer {
    display: flex;
    align-items: center;
    background-color: #1f2937;
    color: white;
    padding: 16px;
    
}

.headerlogo {
    font-size: 24px;
    font-weight: 700;
}

a {
    font-size: 20px;
}

ul {
    display: flex;
    margin-left: auto;
}

li {
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}

.heroimg {
    width: 400px;
    height: 200px;
    
}

.galleryimg {
    width: 100px;
    height: 100px;
    border: solid;
}

.headercontainer {
    padding-left: 300px;
    padding-right: 300px;
}
