* {
    margin: 0px;
    padding: 0px;
    
}

.headercontainer, .herocontainer, .gallerycontainer, .quotecontainer {
    padding-left: 350px;
    padding-right: 350px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
}

.headercontainer, .herocontainer, .footer {
    background-color: #1f2937;
}

.headercontainer {
    display: flex;
    align-items: center;
    
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
    
}

.headerlogo {
    font-size: 24px;
    font-weight: 700;
}

a {
    font-size: 20px;
}

ul {
    display: flex;
    margin-left: auto;
}

li {
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}

.heroimg {
    width: 600px;
    height: 300px;
    flex: auto;
    
}

.herocontainer {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
}

.herotextcontainer {
    display: flex;
    flex-direction: column;
    flex: auto;

}

.herobutton {
    width: 150px;
    height: 40px;
    border-radius: 8px;
    border: 0px; 
    background-color: #3882f6;
    color: white;
    font-weight: 700;
    font-size: 18px;
}

.herotext {
    font-size: 18px;
    color: #e5e7eb;
    margin-right: 150px;
    margin-bottom: 20px;
    margin-top: 20px
}



h1 {
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;
    margin-right: 200px;
}

h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;
}

.gallerycontainer {
    display: flex;
    justify-content: center;
    gap: 5em;
    margin-bottom: 100px;
}

.gallerycontainer .galleryitem {
    display: flex;
    flex-direction: column;
    align-items: center;   

}

.galleryimg {
    width: 150px;
    height: 150px;
    border: solid #3882f6;
    border-radius: 20px;
    
}

.gallerytext {
    width: 150px;
    margin-top: 10px;
}

.quotecontainer {
    padding-top: 200px;
    padding-bottom: 200px;
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.quoteteller {
    font-size: 20px;
    text-align: end;
    font-weight: 700;
}

.ctacontainer {
    display: flex;
    align-items: center;
    
    background-color: #3882f6;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 350px;
    margin-right: 350px;
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.ctacontent {
    display: flex;
    flex-direction: column;
}

.ctaheader, .ctatext {
    margin-left: 150px;
    color: white;
}

.ctaheader {
    font-size: 22px;
    font-weight: 700;
}

.ctatext {
font-size: 20p;
}

.ctabutton {
    margin-left: auto;
    margin-right: 150px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #3882f6;
    color: white;
    font-size: 14px;
    font-weight: 700;
    border: white solid 2px;
    border-radius: 8px;
}

.footer {
    margin-top: auto;
    text-align: center;
    color:#E5E7EB;
    padding-top: 30px;
    padding-bottom: 30px
}